.welcome {
  border: 3px solid maroon;
  background-color: azure;
}
.counterStyle {
  border: 3px solid maroon;
  background-color: azure;
  font-size: 24px;
  font-weight: bold;
}

.btnRed {
  background-color: red;
}
.btnGreen {
  background-color: green;
}
